n8n_daily_digest.json
{
  "name": "ChurnGuard Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/high_risk_customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "threshold",
              "value": "0.2"
            },
            {
              "name": "limit",
              "value": "5000"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get High Risk Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst high   = data.high_risk_count   || 0;\nconst medium = data.medium_risk_count || 0;\nconst low    = data.low_risk_count    || 0;\nconst total  = data.total_scanned     || 0;\nconst customers = data.customers || [];\n\nconst topHigh   = customers.filter(c => c.risk_level === 'High').slice(0, 10);\nconst topMedium = customers.filter(c => c.risk_level === 'Medium').slice(0, 5);\n\nconst riskColor = { High: '#dc2626', Medium: '#d97706', Low: '#059669' };\nconst riskBg    = { High: '#fef2f2', Medium: '#fffbeb', Low: '#f0fdf4' };\nconst riskBorder= { High: '#fecaca', Medium: '#fde68a', Low: '#bbf7d0' };\n\nfunction badge(level) {\n  return `<span style=\"background:${riskBg[level]};color:${riskColor[level]};border:1px solid ${riskBorder[level]};padding:2px 8px;border-radius:4px;font-size:11px;font-weight:700;\">${level}</span>`;\n}\n\nfunction buildRows(list) {\n  return list.map((c, i) => {\n    const prob = (c.churn_probability * 100).toFixed(1);\n    const bg   = i % 2 === 0 ? '#ffffff' : '#f9fafb';\n    return `<tr style=\"background:${bg};\"><td style=\"padding:10px 14px;border-bottom:1px solid #e5e7eb;font-family:monospace;font-size:13px;color:#4f46e5;font-weight:600;\">${c.customer_id}</td><td style=\"padding:10px 14px;border-bottom:1px solid #e5e7eb;\">${badge(c.risk_level)}</td><td style=\"padding:10px 14px;border-bottom:1px solid #e5e7eb;color:${riskColor[c.risk_level]};font-weight:700;font-size:13px;\">${prob}%</td><td style=\"padding:10px 14px;border-bottom:1px solid #e5e7eb;color:#374151;font-size:12px;max-width:160px;\">${c.top_driver}</td><td style=\"padding:10px 14px;border-bottom:1px solid #e5e7eb;color:#6b7280;font-size:12px;max-width:180px;\">${(c.recommendation_summary||'').split(' | ')[0]}</td></tr>`;\n  }).join('');\n}\n\nconst today = new Date().toLocaleDateString('en-US', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\nconst time  = new Date().toLocaleTimeString('en-US', { hour:'2-digit', minute:'2-digit' });\nconst subject = `ChurnGuard Daily Digest — ${high} High Risk, ${medium} Medium Risk | ${today}`;\n\nconst tableHead = `<tr style=\"background:#f3f4f6;\"><th style=\"padding:9px 14px;text-align:left;color:#6b7280;font-size:10px;text-transform:uppercase;letter-spacing:1px;font-weight:600;border-bottom:2px solid #e5e7eb;\">Customer ID</th><th style=\"padding:9px 14px;text-align:left;color:#6b7280;font-size:10px;text-transform:uppercase;letter-spacing:1px;font-weight:600;border-bottom:2px solid #e5e7eb;\">Risk</th><th style=\"padding:9px 14px;text-align:left;color:#6b7280;font-size:10px;text-transform:uppercase;letter-spacing:1px;font-weight:600;border-bottom:2px solid #e5e7eb;\">Probability</th><th style=\"padding:9px 14px;text-align:left;color:#6b7280;font-size:10px;text-transform:uppercase;letter-spacing:1px;font-weight:600;border-bottom:2px solid #e5e7eb;\">Top Driver</th><th style=\"padding:9px 14px;text-align:left;color:#6b7280;font-size:10px;text-transform:uppercase;letter-spacing:1px;font-weight:600;border-bottom:2px solid #e5e7eb;\">Recommended Action</th></tr>`;\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"/></head><body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Arial,Helvetica,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;\"><tr><td align=\"center\" style=\"padding:32px 16px;\"><table width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:640px;width:100%;\"><!-- HEADER --><tr><td style=\"background:#4f46e5;border-radius:12px 12px 0 0;padding:28px 32px;text-align:center;\"><p style=\"color:#c7d2fe;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:2px;margin:0 0 8px;\">ChurnGuard · Daily Digest</p><h1 style=\"color:#ffffff;font-size:22px;font-weight:800;margin:0 0 4px;\">${today}</h1><p style=\"color:#a5b4fc;font-size:12px;margin:0;\">Scan completed at ${time}</p></td></tr><!-- STATS --><tr><td style=\"background:#ffffff;padding:24px 32px 16px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"width:25%;padding:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:10px;\"><tr><td style=\"padding:16px;text-align:center;\"><p style=\"color:#4f46e5;font-size:26px;font-weight:800;margin:0;\">${total.toLocaleString()}</p><p style=\"color:#94a3b8;font-size:10px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin:4px 0 0;\">Scanned</p></td></tr></table></td><td style=\"width:25%;padding:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fef2f2;border:1px solid #fecaca;border-radius:10px;\"><tr><td style=\"padding:16px;text-align:center;\"><p style=\"color:#dc2626;font-size:26px;font-weight:800;margin:0;\">${high}</p><p style=\"color:#f87171;font-size:10px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin:4px 0 0;\">🔴 High</p></td></tr></table></td><td style=\"width:25%;padding:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fffbeb;border:1px solid #fde68a;border-radius:10px;\"><tr><td style=\"padding:16px;text-align:center;\"><p style=\"color:#d97706;font-size:26px;font-weight:800;margin:0;\">${medium}</p><p style=\"color:#f59e0b;font-size:10px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin:4px 0 0;\">🟡 Medium</p></td></tr></table></td><td style=\"width:25%;padding:4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:10px;\"><tr><td style=\"padding:16px;text-align:center;\"><p style=\"color:#059669;font-size:26px;font-weight:800;margin:0;\">${low}</p><p style=\"color:#34d399;font-size:10px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin:4px 0 0;\">🟢 Low</p></td></tr></table></td></tr></table></td></tr><!-- HIGH RISK TABLE --><tr><td style=\"background:#ffffff;padding:0 32px 24px;\"><p style=\"color:#dc2626;font-size:14px;font-weight:700;margin:0 0 4px;\">🔴 Top High-Risk Customers</p><p style=\"color:#9ca3af;font-size:12px;margin:0 0 12px;\">Top ${topHigh.length} sorted by probability — act immediately</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e7eb;border-radius:8px;overflow:hidden;\"><thead>${tableHead}</thead><tbody>${buildRows(topHigh)}</tbody></table></td></tr>${topMedium.length > 0 ? `<!-- MEDIUM RISK TABLE --><tr><td style=\"background:#ffffff;padding:0 32px 24px;\"><p style=\"color:#d97706;font-size:14px;font-weight:700;margin:0 0 4px;\">🟡 Medium-Risk Customers to Watch</p><p style=\"color:#9ca3af;font-size:12px;margin:0 0 12px;\">Top ${topMedium.length} — act before they escalate to high risk</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e7eb;border-radius:8px;overflow:hidden;\"><thead>${tableHead}</thead><tbody>${buildRows(topMedium)}</tbody></table></td></tr>` : ''}<!-- CTA --><tr><td style=\"background:#ffffff;padding:8px 32px 32px;text-align:center;\"><a href=\"http://localhost:8000/dashboard\" style=\"display:inline-block;background:#4f46e5;color:#ffffff;padding:13px 32px;border-radius:8px;text-decoration:none;font-weight:700;font-size:14px;\">Open Full Dashboard →</a></td></tr><!-- FOOTER --><tr><td style=\"background:#f8fafc;border-top:1px solid #e2e8f0;border-radius:0 0 12px 12px;padding:20px 32px;text-align:center;\"><p style=\"color:#6b7280;font-size:12px;margin:0;\">ChurnGuard · XGBoost · FastAPI · n8n · SendGrid</p><p style=\"color:#9ca3af;font-size:11px;margin:6px 0 0;\">Automatically generated by your daily churn risk scan.</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn [{ json: { subject, html } }];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "annasshariff05@gmail.com",
        "toEmail": "annasshariff05@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [920, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SendGrid SMTP"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get High Risk Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get High Risk Customers": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "churnguard-v1"
  }
}
